<div class="slide section level1">

<!--
% Azure Functions: Intro to Expert(ish) in 60 Minutes
% Mark Leon Watson
% February 19, 2019
% Version 1.0
-->
</div>
<div id="azure-functions-intro-to-expertish-in-60-minutes" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish) in 60 Minutes</h1>
<p><img src="../src/images/azurefunctions-logo.jpeg" /></p>
<!--
An Hour of Lightning Talks ;)

FWDNUG February 19, 2019

Agenda

00:00 - Talk: Intro  
00:05 - Talk: Overview  
00:10 - Level 100: Introduction to Serverless and Event-Based Processing and Consumption Models
00:15 - Level 100: Introduction to Azure Functions
00:20 - Level 100: Demos (Getting Started)
00:25 - Level 200: Intermediate  
00:30 - Level 200: Demos (Job Request Demo)
00:35 - Level 300: Advanced  
00:40 - Level 300: Demos (Event Logging Demo)
00:45 - Level Expertish: Summary 
00:50 - Level Expertish: Q&A
-->
</div>
<div class="slide section level1">

<!-- TALK: INTRO/ABSTRACT -->
</div>
<div id="azure-functions-intro-to-expertish-in-60-minutes-1" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish) in 60 Minutes</h1>
<p><strong>Let’s talk about Azure Functions!</strong></p>
<p>This talk will start out with the basics of Azure Functions and then ramp up quickly on the when, where, why, and how to use them.</p>
<p>It will also discuss platforms, toolsets, design and development, and tips learned from real world experiences.</p>
</div>
<div id="azure-functions-intro-to-expertish-in-60-minutes-2" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish) in 60 Minutes</h1>
<h3 id="audience">Audience</h3>
<p>This talk will be beneficial to persons both new to and already familiar with Azure Functions.</p>
<p>Hopefully after this session you will feel like an expert, or at least expert-ish, on Azure Functions.</p>
</div>
<div id="azure-functions-intro-to-expertish-in-60-minutes-3" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish) in 60 Minutes</h1>
<h3 id="presenter">Presenter</h3>
<p>Mark Leon Watson is a software engineering consultant with over 3 decades of professional experience in software development across many business domains and technologies. He is currently working as a Software Architect for Afterman Software and providing software architecture and development services to an insurance company based in Fort Worth, Texas.</p>
<!--
### About the presenter...

- husband/father
- guitar player/"musician"
- fan of the outdoors
- continuous learner and improver
- seeker of truth, LOL!

- Glad to be back to speaking
- First time in a while
- First time giving this talk
- Be gentle

### Enough about the speaker...
-->
</div>
<div id="brought-to-you-by-mountain-cedar-and-otc-allergy-meds" class="slide section level1">
<h1>Brought to you by Mountain Cedar and OTC Allergy Meds</h1>
<p><img src="../src/images/allergies.jpg" /></p>
</div>
<div id="housekeeping" class="slide section level1">
<h1>Housekeeping</h1>
<p>"If you are driving, don’t drink.</p>
<p>And if you are drinking, don’t drive."</p>
<ul>
<li>Beastie Boys</li>
</ul>
</div>
<div class="slide section level1">

<!-- TALK: OVERVIEW OF PRESENTATION LEVELS -->
</div>
<div id="standard-presentation-material-levels" class="slide section level1">
<h1>Standard Presentation Material Levels</h1>
<ul>
<li>Level 100: Introductory and overview material.</li>
</ul>
<!-- Assumes little or no expertise with topic and covers topic concepts, functions, features, and benefits. -->
<ul>
<li>Level 200: Intermediate material.</li>
</ul>
<!-- Assumes 100-level knowledge and provides specific details about the topic. -->
<ul>
<li>Level 300: Advanced material.</li>
</ul>
<!-- Assumes 200-level knowledge, in-depth understanding of features in a real-world environment, and strong coding skills. Provides a detailed technical overview of a subset of product/technology features, covering architecture, performance, migration, deployment, and development. -->
<ul>
<li>Level 400: Expert material.</li>
</ul>
<!-- Assumes a deep level of technical knowledge and experience and a detailed, thorough understanding of topic. Provides expert-to-expert interaction and coverage of specialized topics. -->
<!-- https://blogs.technet.microsoft.com/ieitpro/2006/09/29/microsofts-standard-level-definitions-100-to-400/ -->
</div>
<div id="expert" class="slide section level1">
<h1>“expert”</h1>
<p>noun 1. a person who has a comprehensive and authoritative knowledge of or skill in a particular area. <em>“a financial expert”</em></p>
<!--
synonyms: specialist, authority, pundit, oracle, resource person, ...

adjective
1. having or involving authoritative knowledge. "he had received expert academic advice" >> synonyms: skillful, skilled, adept, accomplished, talented, fine, ...

https://www.google.com/search?q=Dictionary#dobs=expert
-->
</div>
<div id="expertish" class="slide section level1">
<h1>“expertish”</h1>
<p>Someone who has some expertise, but not a full blown expert.</p>
<p><em>“My coach is expertish, but he never played ball so he isn’t an expert.”</em></p>
<!--
by mrmurpal02 July 05, 2018
https://www.urbandictionary.com/define.php?term=expertish
-->
<!--
# Gladwell's Definition

10,000 hours

### Definition of 'Expert' in flux?

New Study Destroys Malcolm Gladwell's 10,000 Hour Rule

https://www.businessinsider.com/new-study-destroys-malcolm-gladwells-10000-rule-2014-7

-->
</div>
<div id="truthiness" class="slide section level1">
<h1>#Truthiness</h1>
<p>noun: the quality of seeming or being felt to be true, even if not necessarily true.</p>
<p>Origin early 19th century (in the sense ‘truthfulness’): coined in the modern sense by the US humorist Stephen Colbert.</p>
<!-- https://www.google.com/search?q=Dictionary#dobs=truthiness -->
<!--
# Expertish Presentation Material Levels

A little bit of this and a little bit of that from levels 100-300.
-->
</div>
<div id="satisfaction-guarantee" class="slide section level1">
<h1>100% Satisfaction Guarantee</h1>
<p>If you believe that by the end of this talk that you are not to the level of expertish…</p>
<p>…then I will refund 100% of the cost of your admission. ;)</p>
</div>
<div id="audience-gauge" class="slide section level1">
<h1>Audience Gauge</h1>
<p><img src="../src/images/gauge-type1-20-500px.png" /></p>
<!--
- Why are we all here?

- What Azure Functions experience do you have?

- What are you currently using Azure Functions for? 
-->
</div>
<div id="azure-functions-level-100-introductory" class="slide section level1">
<h1>Azure Functions: Level 100: Introductory</h1>
<p><img src="../src/images/azurefunctions-logo.jpeg" /></p>
</div>
<div id="serverless" class="slide section level1">
<h1>Serverless?</h1>
<p><img src="../src/images/empty-server-rack.jpg" /></p>
</div>
<div id="serverless-1" class="slide section level1">
<h1>Serverless</h1>
<center>
<em>“provisioning, scaling, and management of resources is handled for you”</em>
</center>
<!-- https://azure.microsoft.com/en-us/solutions/serverless/ -->
</div>
<div id="serverless-in-azure" class="slide section level1">
<h1>Serverless in Azure</h1>
<ul>
<li>fully managed services</li>
<li>end-to-end development experience</li>
<li>built on an open source foundation</li>
<li>run serverless solutions anywhere</li>
</ul>
</div>
<div id="example-serverless-applications" class="slide section level1">
<h1>Example Serverless Applications</h1>
<ul>
<li>web app backend</li>
<li>mobile app backend</li>
<li>real-time file processing</li>
<li>real-time stream processing</li>
</ul>
</div>
<div id="serverless-execution-environments" class="slide section level1">
<h1>Serverless Execution Environments</h1>
<ul>
<li>Serverless functions (Azure Functions)</li>
<li>Serverless containers (Azure Container Instances)</li>
<li>Serverless Kubernetes orchestration (AKS)</li>
<li>Serverless application environments (App Service)</li>
</ul>
</div>
<div id="fully-managed-services" class="slide section level1">
<h1>Fully Managed Services</h1>
<ul>
<li>Serverless database (CosmosDB)</li>
<li>Serverless messaging (Event Grid, Service Bus)</li>
<li>Serverless workflow orchestration (Logic Apps)</li>
<li>Serverless analytics (Azure Stream Analytics)</li>
<li>Serverless intelligence (Cognitive Services)</li>
</ul>
</div>
<div id="service-fabric-mesh" class="slide section level1">
<h1>Service Fabric Mesh</h1>
<p><em>Azure Service Fabric Mesh is a fully managed service that enables developers to deploy microservices applications without managing virtual machines, storage, or networking.</em></p>
<!-- https://docs.microsoft.com/en-us/azure/service-fabric-mesh/service-fabric-mesh-overview -->
</div>
<div id="serverless-development-experience" class="slide section level1">
<h1>Serverless Development Experience</h1>
<h2 id="developer-tools">Developer Tools</h2>
<ul>
<li><a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs">Visual Studio developer tools for Functions</a></li>
<li><a href="https://code.visualstudio.com/tutorials/functions-extension/getting-started">Azure Functions extension for Visual Studio Code</a></li>
<li><a href="https://docs.microsoft.com/en-us/azure/logic-apps/quickstart-create-logic-apps-with-visual-studio">Visual Studio developer tools for Logic Apps</a></li>
</ul>
<h2 id="continuous-integration-and-continuous-delivery">Continuous integration and continuous delivery</h2>
<ul>
<li><a href="https://azure.microsoft.com/en-us/services/monitor/">Azure DevOps</a></li>
</ul>
<h2 id="monitoring-logging-and-diagnostics">Monitoring, logging, and diagnostics</h2>
<ul>
<li><a href="https://azure.microsoft.com/en-us/services/monitor/">Application Insights</a></li>
</ul>
<!--
# Azure Serverless Platform

- Service Fabric
- App Service
- Web App
-->
</div>
<div class="slide section level1">

<!--
# Azure Functions: Level 100: Introductory

# Azure Functions: Overview (MS)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview
-->
</div>
<div id="what-is-azure-functions" class="slide section level1">
<h1>What is Azure Functions?</h1>
<p><img src="../src/images/azurefunctions-logo.jpeg" /></p>
<!--
# What is Azure Functions?

*Azure Functions is a solution for easily running **small pieces of code**, or "functions," in the cloud. You can write just the code you need for the problem at hand, without worrying about a whole application or the infrastructure to run it. Functions can make development even more productive, and you can use your development **language of choice**, such as C#, F#, Node.js, Java, or PHP. **Pay only for the time your code runs** and trust Azure to **scale as needed**. Azure Functions lets you develop **serverless** applications on Microsoft Azure.*
-->
</div>
<div id="what-is-azure-functions-1" class="slide section level1">
<h1>What is Azure Functions?</h1>
<ul>
<li>small pieces of code</li>
<li>language of choice</li>
<li>pay only for the time your code runs</li>
<li>scale as needed</li>
<li>serverless</li>
</ul>
</div>
<div id="azure-functions-features" class="slide section level1">
<h1>Azure Functions: Features</h1>
<ul>
<li>Choice of language</li>
<li>Pay-per-use pricing model</li>
<li>Bring your own dependencies</li>
<li>Integrated security</li>
<li>Simplified integration</li>
<li>Flexible development</li>
<li>Open-source</li>
</ul>
</div>
<div id="azure-functions-supported-languages" class="slide section level1">
<h1>Azure Functions: Supported Languages</h1>
<ul>
<li>C#</li>
<li>Javascript</li>
<li>F#</li>
<li>Java*</li>
<li>Python*</li>
<li>TypeScript*</li>
<li>PHP*</li>
<li>Batch*</li>
<li>Bash*</li>
<li><p>Powershell*</p></li>
<li><p>Preview, experimental, or V1 supported-only.</p></li>
</ul>
<!-- https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages -->
</div>
<div id="azure-functions-integrations" class="slide section level1">
<h1>Azure Functions: Integrations</h1>
<ul>
<li>Azure Cosmos DB</li>
<li>Azure Event Hubs</li>
<li>Azure Event Grid</li>
<li>Azure Notification Hubs</li>
<li>Azure Service Bus (queues and topics)</li>
<li>Azure Storage (blob, queues, and tables)</li>
<li>On-premises (using Service Bus)</li>
<li>Twilio (SMS messages)</li>
</ul>
</div>
<div id="event-driven" class="slide section level1">
<h1>“EVENT DRIVEN”</h1>
<ul>
<li>HTTPTrigger</li>
<li>TimerTrigger</li>
<li>CosmosDBTrigger</li>
<li>BlobTrigger</li>
<li>QueueTrigger</li>
<li>EventGridTrigger</li>
<li>EventHubTrigger</li>
<li>ServiceBusQueueTrigger</li>
<li>ServiceBusTopicTrigger</li>
</ul>
</div>
<div id="azure-functions-hosting-plans" class="slide section level1">
<h1>Azure Functions: Hosting Plans</h1>
<ul>
<li>Consumption plan</li>
<li>App Service plan</li>
</ul>
</div>
<div id="consumption-plan" class="slide section level1">
<h1>Consumption plan</h1>
<ul>
<li>hosts are dynamically added and removed based on the number of incoming events</li>
<li>serverless plan scales automatically</li>
<li>charged for compute resources only when functions are running</li>
<li>execution times out after a configurable period of time</li>
</ul>
<!--
*When you're using a Consumption plan, instances of the Azure Functions host are dynamically added and removed based on the number of incoming events. This serverless plan scales automatically, and you're charged for compute resources only when your functions are running. On a Consumption plan, a function execution times out after a configurable period of time.*
-->
</div>
<div id="app-service-plan" class="slide section level1">
<h1>App Service Plan</h1>
<ul>
<li>function apps run on dedicated VMs</li>
<li>same as other App Service apps</li>
<li>Dedicated VMs are allocated to your function app</li>
<li>host can be always running</li>
<li>supports Linux</li>
</ul>
<!--
*In the dedicated App Service plan, your function apps run on dedicated VMs on Basic, Standard, Premium, and Isolated SKUs, which is the same as other App Service apps. Dedicated VMs are allocated to your function app, which means the functions host can be always running. App Service plans support Linux.*
-->
<!--
# App Service

https://azure.microsoft.com/en-us/services/app-service/?v=18.51
-->
</div>
<div id="what-can-i-do-with-azure-functions" class="slide section level1">
<h1>What can I do with Azure Functions?</h1>
<ul>
<li>processing data</li>
<li>integrating systems</li>
<li>working with the internet-of-things (IoT)</li>
<li>building simple APIs and microservices</li>
</ul>
<!--
Resources:
- https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale
- https://azure.microsoft.com/en-us/pricing/details/functions/
-->
<!--
## Overview (MLW)

#### Where?

Where can I use Azure Functions?

- Azure 
- Linux
- Local Visual Studio

#### Why? 

Why should I use Azure Functions?

- PaaS
- Automatic Scaling
- Consumption Based Scaling and Pricing
- Microservices
- Batch Processing
- Message Pipelines

#### When?

When should I use Azure Functions?

When should I use consumption vs app plan?

-->
</div>
<div id="azure-functions-level-100" class="slide section level1">
<h1>Azure Functions: Level 100</h1>
<h2 id="summary">Summary</h2>
<ul>
<li>Concepts</li>
<li>Features</li>
<li>Benefits</li>
</ul>
</div>
<div id="congratulations-level-100-achieved" class="slide section level1">
<h1>Congratulations! Level 100 Achieved!</h1>
<p><img src="../src/images/level-up.jpg" /></p>
</div>
<div id="azure-functions-level-200-intermediate" class="slide section level1">
<h1>Azure Functions: Level 200: Intermediate</h1>
<p><img src="../src/images/azurefunctions-logo.jpeg" /></p>
</div>
<div id="overview" class="slide section level1">
<h1>Overview</h1>
<p>Level 200: Intermediate material.</p>
<p>Assumes 100-level knowledge and provides specific details about the topic.</p>
</div>
<div id="overview-1" class="slide section level1">
<h1>Overview</h1>
<ul>
<li>Development</li>
<li>Tools</li>
<li>Templates</li>
</ul>
</div>
<div id="how-do-i-create-azure-functions" class="slide section level1">
<h1>How do I create Azure Functions?</h1>
<ul>
<li>Azure Portal Development</li>
<li>Local Development</li>
</ul>
</div>
<div id="how-do-i-create-azure-functions-1" class="slide section level1">
<h1>How do I create Azure Functions?</h1>
<p>For developing locally and deploying remotely, you’ll need to:</p>
<ul>
<li>create your function code</li>
<li>test and debug your functions</li>
<li>deploy your tested functions*</li>
</ul>
<p>*You’ll need an Azure account and subscription to deploy to Azure.</p>
</div>
<div id="development-tools" class="slide section level1">
<h1>Development Tools</h1>
<h2 id="ides">IDEs</h2>
<ul>
<li><a href="https://visualstudio.microsoft.com/">Visual Studio</a></li>
<li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
</ul>
<h2 id="extension-tools">Extension Tools</h2>
<ul>
<li><a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs">Visual Studio developer tools for Functions</a></li>
<li><a href="https://code.visualstudio.com/tutorials/functions-extension/getting-started">Azure Functions extension for Visual Studio Code</a></li>
</ul>
</div>
<div id="development-tools-1" class="slide section level1">
<h1>Development Tools</h1>
<h2 id="cli-tools">CLI Tools</h2>
<ul>
<li><a href="https://docs.microsoft.com/en-us/dotnet/core/tools/">.NET Core Tools CLI</a></li>
<li><a href="https://docs.microsoft.com/en-us/powershell/azure/">Azure Powershell</a></li>
<li><a href="https://docs.microsoft.com/en-us/cli/azure/">Azure CLI</a></li>
</ul>
</div>
<div id="project-templates" class="slide section level1">
<h1>Project Templates</h1>
<ul>
<li>HTTPTrigger</li>
<li>TimerTrigger</li>
<li>CosmosDBTrigger</li>
<li>BlobTrigger</li>
<li>QueueTrigger</li>
<li>EventGridTrigger</li>
<li>EventHubTrigger</li>
<li>ServiceBusQueueTrigger</li>
<li>ServiceBusTopicTrigger</li>
</ul>
</div>
<div id="run" class="slide section level1">
<h1>Run()</h1>
<p>It all starts with Run()! (or RunAsync())</p>
<!-- https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function -->
</div>
<div id="demo-httptrigger" class="slide section level1">
<h1>DEMO: HttpTrigger</h1>
<p>The HTTP trigger lets you invoke a function with an HTTP request.</p>
<p>You can use an HTTP trigger to build serverless APIs and respond to webhooks.</p>
<!-- https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook -->
</div>
<div id="demo-httptrigger-1" class="slide section level1">
<h1>DEMO: HttpTrigger</h1>
<p><img src="../src/images/demo.png" /></p>
</div>
<div id="demo-timertrigger" class="slide section level1">
<h1>DEMO: TimerTrigger</h1>
<p>Azure Functions uses the NCronTab library to interpret CRON expressions. A CRON expression includes six fields:</p>
<p>{second} {minute} {hour} {day} {month} {day-of-week}</p>
<!-- https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer -->
</div>
<div id="demo-timertrigger-1" class="slide section level1">
<h1>DEMO: TimerTrigger</h1>
<p><img src="../src/images/demo.png" /></p>
</div>
<div id="application-settings" class="slide section level1">
<h1>Application Settings</h1>
<ul>
<li>local vs deployed</li>
<li>settings.json file vs. environment vars</li>
<li>Key Vaults</li>
</ul>
<!--
# .net core vs net. standard

# Is it an App or Library?
-->
</div>
<div id="demo-ship-it" class="slide section level1">
<h1>DEMO: Ship It!</h1>
<p><img src="../src/images/demo.png" /></p>
<!--

### Design Considerations

#### Microservices

- Shared Code

#### Limitations

#### Hybrid Connections

#### V1 vs V2

#### Nuget Packages

#### ILogger vs ITraceWriter

#### Configuration Building

#### Developer Resources

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference

#### Testing Resources

https://docs.microsoft.com/en-us/azure/azure-functions/functions-test-a-function

#### Learning Resources

-->
</div>
<div id="azure-functions-level-200-intermediate-1" class="slide section level1">
<h1>Azure Functions: Level 200: Intermediate</h1>
<h2 id="summary-1">Summary</h2>
<ul>
<li>Details</li>
<li>Development Tools</li>
<li>Creating Azure Functions</li>
</ul>
</div>
<div id="congratulations-level-200-achieved" class="slide section level1">
<h1>Congratulations! Level 200 Achieved!</h1>
<p><img src="../src/images/level-up.jpg" /></p>
</div>
<div id="azure-functions-level-300-advanced" class="slide section level1">
<h1>Azure Functions: Level 300: Advanced!</h1>
<p><img src="../src/images/azurefunctions-logo.jpeg" /></p>
</div>
<div id="overview-2" class="slide section level1">
<h1>Overview</h1>
<p>Level 300: Advanced material.</p>
<p>Assumes 200-level knowledge, in-depth understanding of features in a real-world environment, and strong coding skills. Provides a detailed technical overview of a subset of product/technology features, covering architecture, performance, migration, deployment, and development.</p>
<h3 id="lets-build-some-things">Let’s build some things!</h3>
</div>
<div id="durable-functions" class="slide section level1">
<h1>Durable Functions</h1>
<p><em>Durable Functions are an extension of Azure Functions that lets you write stateful functions in a serverless environment. The extension manages state, checkpoints, and restarts for you.</em></p>
<!-- https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview -->
</div>
<div id="application-patterns" class="slide section level1">
<h1>Application Patterns</h1>
<p>The primary use case for Durable Functions is simplifying complex, stateful coordination requirements in serverless applications. The following are some typical application patterns that can benefit from Durable Functions:</p>
<ul>
<li>Chaining</li>
<li>Fan-out/fan-in</li>
<li>Async HTTP APIs</li>
<li>Monitoring</li>
<li>Human interaction</li>
</ul>
<!--
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-concepts#chaining
https://docs.microsoft.com/en-us/dotnet/standard/serverless-architecture/
-->
</div>
<div id="example-chaining-pattern" class="slide section level1">
<h1>Example Chaining Pattern</h1>
<p><img src="../src/images/function-chaining.png" /></p>
<!-- https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/ -->
</div>
<div id="access-security" class="slide section level1">
<h1>Access Security</h1>
<ul>
<li>anonymous</li>
<li>function</li>
<li>admin</li>
</ul>
</div>
<div id="authentication" class="slide section level1">
<h1>Authentication</h1>
<ul>
<li><a href="https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad">Azure AD</a></li>
<li><a href="https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-facebook">Facebook</a></li>
<li><a href="https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-google">Google</a></li>
<li><a href="https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-twitter">Twitter</a></li>
<li><a href="https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity">Managed Identities</a></li>
<li><a href="https://stackoverflow.com/questions/46617942/what-are-the-ways-to-secure-azure-functions">API Management</a></li>
<li><a href="https://www.linkedin.com/pulse/whitelisting-azure-functions-mike-douglas">White Listing</a></li>
</ul>
</div>
<div id="demo-job-request-system" class="slide section level1">
<h1>DEMO: Job Request System</h1>
<p><img src="../src/images/JobRequestsDemo-draw.io.jpg" /></p>
</div>
<div id="demo-job-request-system-1" class="slide section level1">
<h1>DEMO: Job Request System</h1>
<p><img src="../src/images/demo.png" /></p>
</div>
<div id="demo" class="slide section level1">
<h1>DEMO</h1>
<p><img src="../src/images/MLW-Demos-Azure-Functions-EventLogging-Diagram-draw.io.jpg" /></p>
</div>
<div id="demo-event-logging-and-notification-system" class="slide section level1">
<h1>DEMO: Event Logging and Notification System</h1>
<p><img src="../src/images/demo.png" /></p>
</div>
<div id="tip-use-log4net-and-microsoft-logging" class="slide section level1">
<h1>TIP: Use log4net <em>AND</em> Microsoft Logging</h1>
<p>Nuget Package:</p>
<p>Microsoft.Extensions.Logging.Log4Net.AspNetCore</p>
</div>
<div id="tip-.net-standard-not-.net-core" class="slide section level1">
<h1>TIP: .net Standard, NOT .net Core</h1>
<p>Some Azure Functions templates have the TargetFramework set to netcoreapp2.1.</p>
<p>Before deploying to Azure, you’ll need to set this to netstandard2.0.</p>
</div>
<div id="tip-change-to-v2-when-publishing-to-azure" class="slide section level1">
<h1>TIP: Change to V2 when publishing to Azure</h1>
<p>You’ll need to specify V2 when publishing you functions to Azure.</p>
</div>
<div id="tip-when-do-i-have-to-use-an-app-service-hosting-plan" class="slide section level1">
<h1>TIP: When do I HAVE to use an App Service Hosting Plan?</h1>
<h2 id="hybrid-database-connections">Hybrid Database Connections</h2>
<ul>
<li>onsite databases require a hybrid connection, which will required an app service plan</li>
<li>older server OS will not work</li>
</ul>
</div>
<div id="azure-functions-level-300-advanced-1" class="slide section level1">
<h1>Azure Functions: Level 300: Advanced</h1>
<h2 id="summary-2">Summary</h2>
<ul>
<li>Durable Functions</li>
<li>Patterns</li>
<li>Security</li>
<li>Chaining Demos</li>
<li>Tips</li>
</ul>
</div>
<div id="congratulations-level-300-achieved" class="slide section level1">
<h1>Congratulations! Level 300 Achieved!</h1>
<p><img src="../src/images/level-up.jpg" /></p>
</div>
<div id="azure-functions-intro-to-expertish" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish)</h1>
<table>
<thead>
<tr class="header">
<th><strong>Level 100:</strong></th>
<th><strong>Level 200:</strong></th>
<th><strong>Level 300:</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>- Intro</td>
<td>- Intermediate</td>
<td>- Advanced</td>
</tr>
<tr class="even">
<td>- Concepts</td>
<td>- Details</td>
<td>- Patterns</td>
</tr>
<tr class="odd">
<td>- Features</td>
<td>- Creation</td>
<td>- Security</td>
</tr>
<tr class="even">
<td>- Benefits</td>
<td>- Deployment</td>
<td>- Tips</td>
</tr>
</tbody>
</table>
</div>
<div id="congratulations-expertish-level-achieved" class="slide section level1">
<h1>Congratulations!<br/>Expertish Level Achieved!</h1>
<p><img src="../src/images/level-up.jpg" /></p>
</div>
<div id="azure-functions-learning-resources" class="slide section level1">
<h1>Azure Functions: Learning Resources</h1>
<ul>
<li><p><a href="https://docs.microsoft.com/en-us/azure/azure-functions/">Microsoft Docs</a></p></li>
<li><a href="https://www.udemy.com/">Udemy</a>
<ul>
<li>Scott Duffy Courses on Azure</li>
</ul></li>
<li>Packt Publishing
<ul>
<li><a href="https://azure.microsoft.com/en-us/resources/azure-serverless-computing-cookbook/">Azure Serverless Computing Cookbook</a></li>
</ul></li>
<li>Microsoft Publishing
<ul>
<li><a href="https://aka.ms/serverless-ebook">Serverless Apps: Architecture, Patterns, and Azure Implementation</a></li>
</ul></li>
<li><p><a href="https://safaribooksonline.com">Safari Books Online ($)</a></p></li>
</ul>
</div>
<div id="azure-functions-intro-to-expertish-1" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish)</h1>
<div class="figure">
<img src="../src/images/thank-you.jpg" alt="info@markwatson.net" />
<p class="caption">info@markwatson.net</p>
</div>
</div>
<div id="azure-functions-intro-to-expertish-2" class="slide section level1">
<h1>Azure Functions: Intro to Expert(ish)</h1>
<p><strong>Presentation Files</strong> https://bitbucket.org/MarkLeon/mlw-talk-azurefunctions-intro2expertish</p>
<p><strong>Job Requests Demo</strong> https://bitbucket.org/MarkLeon/mlw-demos-azurefunctions-jobrequests</p>
<p><strong>Event Logging Demos</strong> https://bitbucket.org/MarkLeon/mlw-demos-azurefunctions-eventlogging</p>
</div>
<div id="section" class="slide section level1">
<h1></h1>
<p><img src="../src/images/watchmen-smiley.jpg" /></p>
</div>
